
#backgroundImage{
    opacity:0.3;
    position:absolute;
    width:100%;
    height:100%;
}

.glyphicon {
    font-size: 100px;
}

.nav-pill li {
    list-style-type: none;
}

#currentImg {
    height: 300px;
    display:block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 90px;
}

p {
    font-size: 18px;
}

#directions>h3 {
    font-size: 30px;
}

#answerOptions {
    font-size: 70px;
    text-align:center;
}


.incorrect {
    background-image: url("http://vignette1.wikia.nocookie.net/suitelife/images/4/42/600px-Red_x.svg_.png/revision/latest?cb=20110216202152");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.coloredLetter {
    font-color: green;
}


.glyphicon-volume-up {
    font-size: 40px;
}